[
 {lager, [
	  {log_root, "router_default.log"},
	  {handlers, [
		      {lager_console_backend, info},
		      {lager_file_backend, [{file, "router_error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "router_info.log"}, {level, info}]}
		     ]},
	  {traces, [
		    {{lager_file_backend, "user_online.log"}, [{module, router_farm}, {function, do_user_online}], [{level, debug}]}
		   ]}
	 ]},
 {rcp_client, [
	       {default_start_args, [
				     {prefix, "0_"},
				     {heartbeat_interval, 300000},
				     {batch_size, 50},
				     {timeout, 5000},
				     {user_count, 10},
				     {rcp_host, {192, 168, 11, 6}},
				     {rcp_port, 9090},
				     {client_count, 30000}
				    ]}
	      ]} 
].
